@tailwind base;
@tailwind components;
@tailwind utilities;


.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://avatars.githubusercontent.com/u/48953676?v=4');
    background-size: cover;
}

.home.dark {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://avatars.githubusercontent.com/u/48953676?v=4');
    background-size: cover;
}

.glass {
    height: 80vh;
    width: 60vw;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 2rem;
    backdrop-filter: blur(2rem);
}

.dashboard, .links {
    display: flex;
    align-items: center;
    padding: 2rem;
}

.dashboard {
    justify-content: space-between;
}

.links {
    justify-content: space-between;
    width: 50%;
}

.user img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.user h3, .user p, .link h2, .link h3, .card h3, .card p {
    color: white;
}

.user h3, .pro h2 {
    padding: 0.5rem;
}

.user p {
    color: gray;
}

.link {
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.pro {
    padding: 2rem;
}

.pro h2 {
    padding-bottom: 1rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.card {
    padding: 2rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
}
